@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-brand-black bg-brand-light antialiased;
  }
}

/* Smooth Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

/* Add this class to hide scrollbars where needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}